<template>
  <div
    class="border-b-2 border-purple-700 grid grid-cols-7 cursor-pointer"
    :class="shadow"
  >
    <div class="border-r-2 border-purple-700 p-2">
      {{ vulnerability.message }} <span v-if="vulnerability.name">({{ vulnerability.name }})</span>
    </div>
    <div class="border-r-2 border-purple-700 p-2">
      {{ vulnerability.description }}
    </div>

    <div class="border-r-2 border-purple-700 p-2">
      <p class="break-all font-semibold">
        file: {{ vulnerability.location.file }}
      </p>
      <p class="pt-2 font-semibold">
        start line: {{ vulnerability.location.start_line }}
      </p>
      <p class="font-semibold">
        end line: {{ vulnerability.location.end_line }}
      </p>
    </div>

    <div
      class="
        border-r-2
        border-purple-700
        p-2
        flex
        justify-center
        items-center
        text-center
        font-bold
      "
    >
      {{ vulnerability.severity }}
    </div>

    <div class="border-r-2 border-purple-700 p-2 flex justify-center items-center text-center">
      {{ vulnerability.confidence ? vulnerability.confidence : "---" }}
    </div>

    <div class="border-r-2 border-purple-700 p-2">
      <div
        class="mb-5"
        v-for="(identifier, key) in vulnerability.identifiers"
        :key="key"
      >
        <p>
          {{ key + 1 }}. Name:
          <a class="underline" :href="identifier.url" target="_blank">{{
            identifier.name
          }}</a>
        </p>
        <p>value: {{ identifier.name }}</p>
      </div>
    </div>

    <div class="border-r-2 border-purple-700 p-2 flex justify-center items-center text-center">
      <button
        class="bg-blue-700 text-white px-3 py-2 mt-5 rounded-md shadow-md"
        @click="showRawData(vulnerability)"
      >
        Raw data
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Content",
  emits: ['showRaw'],

  computed: {
    shadow() {
      let className;
      switch (this.vulnerability.severity) {
        case 'Critical':
          className = 'bg-red-200'
          break;
        case 'High':
          className = 'bg-red-100'
          break;
        case 'Medium':
          className = 'bg-blue-100'
          break;
        case 'Low':
          className = 'bg-blue-50'
          break;
      }

      return className;
    }
  },

  props: {
    vulnerability: {
      required: true,
    },
  },

  methods: {
    showRawData(vulnerability) {
      const content = JSON.stringify(vulnerability, null, 4);
      this.$emit('showRaw', content);
    }
  }
};
</script>