<template>
  <div class="content w-full">
    <!-- header -->
    <div class="grid grid-cols-7">
      <div
        v-for="(header, index) in headers"
        :key="index"
        class="p-1 border-b-2 border-r-2 border-purple-700 text-center"
      >
        {{ header }}
      </div>
    </div>


    <!-- content -->
    <div class="content-area w-full">
      <content @showRaw="showRawModal"  v-for="(vulnerability, index) in vulnerabilities" :key="index" :vulnerability="vulnerability"  />
    </div>

    <!-- raw-dialog -->
    <modal-dialogue ref="modalDialogue" title="Raw Data">
      <div class="raw-content bg-gray-100 p-2">
        <pre class=" ">{{ rawContent }}</pre>
      </div>
    </modal-dialogue>


  </div>
</template>

<script>
import ModalDialogue from '../UI/ModalDialogue.vue';
import Content from './Content.vue';

export default {
  components: { Content, ModalDialogue },

  props: {
    vulnerabilities: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    headers: [
      "Name",
      "Description",
      "Location",
      "Severity",
      "Confidence",
      "Identifiers",
      "Raw",
    ],

    isModalOpen: false,
    rawContent: null,
  }),

  methods: {
    showRawModal(content) {
      this.rawContent = content;
      this.$refs.modalDialogue.showModal(content);
    },
  }
};
</script>

<style scoped>
.content-area {
  height: 88vh;
  overflow: scroll;
}

.raw-content {
  height: 70vh;
  overflow: scroll;
}
</style>