<template>
<div class="w-full border-2 border-purple-700">
  <div class="navbar bg-purple-100 px-4 py-2 border-b-2 border-purple-700 relative">
    <h1
      class="text-3xl text-purple-700 font-bold  inline"
    >
      Gitlab Artifacts Reader
    </h1>

    <h1 class="inline text-3xl font-bold"> | </h1>

    <div class="inline align-text-bottom">
      <span class="pr-2 tex-sm">File: <span class="font-bold">{{activeFileObj.name}}</span></span>
      <span class="pr-2">Size: <span class="font-bold">{{ size }}</span></span>
      <span class="pr-2">Scanner: <a :href="scannerInfo.url" target="_blank" class="font-bold underline">{{ scannerInfo.name }}</a></span>
      <span class="pr-2 text-red-500 font-bold" v-if="content">Vulnerabilities: {{content.vulnerabilities.length}}</span>
    </div>

    <a href="https://gitlab.com/prakash_Chokalingam/gitlab-artifacts-reader" target="_blank" class="absolute right-0 top-1">
        <img src="/gitlab.png" class="w-12 h-12 inline-block align-text-bottom" title="Fork repo" alt="fork repo" />
      </a>
  </div>

  <div class="flex">
    <div class="sidebar w-1/6 border-0 border-r-2 border-purple-700">
      <ul>
        <li v-for="file, index in availableFiles" :key="index"
          class="px-4 py-4 hover:bg-purple-100 cursor-pointer"
          :class="{ 'bg-purple-100': isActive(index) }"
          @click="showContent(index)"
        >
          {{ file.name }}
        </li>

        <li class="text-center">
          <file-uploader @onFilesUpload="filesUploaded" />
        </li>
      </ul>
    </div>


    <content-view :vulnerabilities="content.vulnerabilities" v-if="content" />
  </div>
</div>

</template>

<script>
import ContentView from './FileExplorer/ContentView.vue';
import FileUploader from './UI/FileUploader.vue';

export default {
  name: 'FileExplorer',

  components: { FileUploader, ContentView },

  props: {
    files: {
      type: Array,
      required: true
    }
  },

  data: () => ({
    extraFiles: [],
    activeFileIndex: 0,

    fetchStatus: null, // loading or done or error
    content: null,
  }),

  computed: {
    availableFiles() {
      return [...this.files, ...this.extraFiles];
    },

    activeFileObj() {
      return this.availableFiles[this.activeFileIndex];
    },

    size() {
      const k = 1024;
      const sizes = ['Bytes', 'KB', 'MB', 'GB'];
      const bytes = this.activeFileObj.size;
      const i = Math.floor(Math.log(bytes) / Math.log(k));
      const parsed = parseFloat((bytes / Math.pow(k, i)).toFixed(2));
      return parsed + ' ' + sizes[i];
    },

    scannerInfo() {
      if(!this.content) { return {} };

      let { scan: { scanner: { name, url } }} = this.content;
      return { name, url };
    }
  },


  mounted() {
    this.showContent(0); // load first file
  },

  methods: {
    isActive(index) {
      return (this.activeFileIndex === index);
    },

    filesUploaded(files) {
      this.extraFiles = [...this.extraFiles, ...files];
    },

    showContent(index) {
      this.activeFileIndex = index;
      this.fetchObjects();
    },

    async fetchObjects() {
      this.fetchStatus = 'loading';
      let content = await window.fetch(this.activeFileObj.blob)
        .then(res => {
          this.fetchStatus = 'done';
          return res.json();
        })
        .catch(err => {
          console.log(err);
          this.fetchStatus = 'error';
        });
      this.content = content;
    }
  }
}
</script>

<style scoped>
.sidebar {
  height: 93vh;
  overflow: scroll;
}
</style>