<template>
  <div class="flex item justify-center text-center">
    <div
      class="
        card
        bg-purple-100
        w-2/3
        py-20
        my-36
        border-2 border-purple-700
        shadow-md
        rounded-md
      "
    >
      <a href="https://gitlab.com/prakash_Chokalingam/gitlab-artifacts-reader" target="_blank">
        <img src="/gitlab.png" class="w-28 h-28 inline-block" title="Fork repo" alt="fork repo" />
      </a>

      <h1 class="text-3xl text-purple-700 font-bold">
        Gitlab Artifacts Reader
      </h1>
      <p class="text-xs pt-2 text-muted">Client side reader, we won't send anything to backend</p>

      <file-uploader @onFilesUpload="fileuploaded" />

      <p class="py-5">-- OR ---</p>

      <div>
        <input
          type="text"
          placeholder="pipeline url (under progress...)"
          class="px-2 py-2 w-2/4 rounded-md outline-none ring-purple-700 border-4"
          disabled
          title="Under progress"
        />
      </div>

      <button
        class="bg-purple-700 text-white px-3 py-2 mt-5 rounded-md shadow-md "
        @click="triggerFileOpener"
        disabled
      >
        Fetch Artifacts
      </button>
    </div>
  </div>
</template>

<script>
import { Switch, SwitchLabel, SwitchGroup } from "@headlessui/vue";
import FileUploader from './UI/FileUploader.vue';

export default {
  name: "GettingStarted",

  components: {
    SwitchGroup,
    Switch,
    SwitchLabel,
    FileUploader,
  },

  data: () => ({
    enabled: false,
  }),

  methods: {
    fileuploaded(files) {
      this.$emit("onFilesUpload", files);
    },
  },
};
</script>