<template>
<div class="w-full">
  <getting-started @onFilesUpload="handleFileExplorer" v-if="!files.length" />
  <file-explorer :files="files" v-else />
</div>
</template>

<script>
import GettingStarted from './components/GettingStarted.vue';
import FileExplorer from './components/FileExplorer.vue';

export default {
  components: {
    GettingStarted,
    FileExplorer
  },

  data: () => ({
    files: []
  }),

  methods: {
    handleFileExplorer(files) {
      this.files = [...this.files, ...files];
    }
  }
};
</script>

<style>
</style>
