<template>
  <button
    class="bg-purple-700 text-white px-3 py-2 mt-5 rounded-md shadow-md"
    @click="triggerFileOpener"
  >
    Upload Files
  </button>
  <input
    type="file"
    class="hidden"
    id="file-opener"
    accept=".json"
    multiple
    @change="filesuploaded"
  />
</template>

<script>
export default {
  name: "FileUploader",
  emits: ["onFilesUpload"],

  methods: {
    triggerFileOpener() {
      document.getElementById("file-opener").click();
    },

    filesuploaded(e) {
       const files = e.target.files;
      const content = [...files].map((file) => {
        let { name, size } = file;
        return {
          name,
          size,
          blob: window.URL.createObjectURL(file),
        };
      });

      this.$emit('onFilesUpload', content);
    }
  }
};
</script>